body {
  font-family: "Inter", sans-serif;
  /* font-family: 'Quicksand', sans-serif;
    font-family: 'Red Hat Display', sans-serif; */
  background-color: #fff;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container-header {
  max-width: 1920px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  align-items: center;
  height: 80px;
  display: flex;
}

.header__logo {
  display: flex;
}

.header__logo__letter {
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, #2979ff 0%, #4c589e 100%);
  color: #fff;
  border-radius: 6px;
  font-family: "Red Hat Display", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  line-height: 1.13;
  align-items: center;
  justify-content: center;
}

.header__logo__name {
  margin-left: 12px;
  font-family: "Red Hat Display", sans-serif;
  font-style: 400;
  font-weight: 500;
  font-size: 36px;
  line-height: 1;
}

.header .btn-sell {
  color: #5a5b6a;
  margin-left: 38px;
  font-style: 400;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.58;
}

.header .btn-reg {
  font-style: 400;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.58;
  color: #5a5b6a;
  margin-left: 33px;
}

.header .icon-search {
  fill: #787885;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  left: 15px;
}

.header .icon-clear {
  position: absolute;
  top: 19px;
  right: 17px;
  width: 14px;
  height: 14px;
  fill: #787885;
}

.header .user-img {
  margin-left: 16px;
  width: 40px;
  height: 40px;
}

.header__btn-consumer {
  font-style: 400;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.58;
  color: #2264d1;
  margin-left: 30px;
}

.header__btn-signin {
  border: 1px solid #9dc2ff;
  box-sizing: border-box;
  border-radius: 4px;
  width: 104px;
  height: 40px;
  color: #2264d1;
  font-family: "Quicksand", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  background: #fff;
  margin-left: 60px;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-property: background, color;
}

.header__btn-signin:hover, .header__btn-signin:focus {
  cursor: pointer;
  color: #fff;
  background: #2264d1;
}

.header__btn-mycart {
  box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
  border-radius: 4px;
  width: 99px;
  height: 40px;
  color: #2264d1;
  font-family: "Quicksand", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  border: 0;
  background: #fff;
  margin-left: 21px;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-property: background, color;
}

.header__btn-mycart:hover, .header__btn-mycart:focus {
  cursor: pointer;
  color: #fff;
  background: #2264d1;
}

.header__input {
  display: flex;
  position: relative;
  margin-left: 107px;
}

.header__input__search {
  width: 668px;
  height: 48px;
  background: #ededf0;
  border-radius: 99px;
  border: 0;
  padding-left: 44px;
  font-style: 400;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.58;
  transition-property: border;
  transition-timing-function: linear;
  transition-duration: 200ms;
  outline: none;
}

.header__input__btn-clear:hover .icon-clear {
  fill: #2979ff;
}

.type-filter {
  margin-top: 23px;
}

.type-filter__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.type-filter__list__text {
  align-items: baseline;
  color: #787885;
}

.type-filter__list__item {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.type-filter__icon {
  fill: #9696a0;
  margin-bottom: 5px;
}

.type-filter .icon1 {
  width: 20px;
  height: 18px;
}

.type-filter .icon2 {
  width: 16px;
  height: 18px;
}

.type-filter .icon3 {
  width: 19px;
  height: 18px;
}

.type-filter .icon4 {
  width: 18px;
  height: 18px;
}

.type-filter .icon5 {
  width: 18px;
  height: 18px;
}

.type-filter .icon6 {
  width: 19px;
  height: 18px;
}

.type-filter .icon7 {
  width: 16px;
  height: 18px;
}

.type-filter .icon8 {
  width: 11px;
  height: 18px;
}

.type-filter .icon9 {
  width: 17px;
  height: 18px;
}

.type-filter .icon10 {
  width: 19px;
  height: 18px;
}

.type-filter .icon11 {
  width: 20px;
  height: 18px;
}

.type-filter .icon12 {
  width: 22px;
  height: 18px;
}

.filter {
  margin-top: 40px;
  width: 304px;
}

.filter__open-area__open-btn {
  color: #2264d1;
  font-family: "Quicksand", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  background: #ffffff;
  border: 1px solid #9dc2ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__open-area__icon {
  width: 18px;
  height: 12px;
  transform: rotate(-90deg);
  margin-right: 50px;
}

.filter__list-area__list {
  margin-top: 40px;
}

.filter__list-area__list__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter__list-area__list__link {
  position: relative;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 48px;
}

.filter__list-area__list__icon {
  position: absolute;
  top: 40%;
  left: 16px;
  width: 20px;
  height: 10px;
  fill: #76a9ff;
}

.filter__list-area__list__primetext {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #19191d;
}

.filter__list-area__list__secondarytext {
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: #787885;
}

.filter__list-area__list__included-list {
  margin-left: 10px;
}

.filter__list-area__list__included-list2 {
  margin-left: 20px;
}

.closed {
  display: none;
}

.opened {
  display: block;
}
/*# sourceMappingURL=main.css.map */