.type-filter {
  margin-top: 23px;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__text {
      align-items: baseline;
      color: #787885;
    }
    &__item {
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
  &__icon {
    fill: #9696a0;
    margin-bottom: 5px;
  }
  .icon1 {
    width: 20px;
    height: 18px;
  }
  .icon2 {
    width: 16px;
    height: 18px;
  }
  .icon3 {
    width: 19px;
    height: 18px;
  }
  .icon4 {
    width: 18px;
    height: 18px;
  }
  .icon5 {
    width: 18px;
    height: 18px;
  }
  .icon6 {
    width: 19px;
    height: 18px;
  }
  .icon7 {
    width: 16px;
    height: 18px;
  }
  .icon8 {
    width: 11px;
    height: 18px;
  }
  .icon9 {
    width: 17px;
    height: 18px;
  }
  .icon10 {
    width: 19px;
    height: 18px;
  }
  .icon11 {
    width: 20px;
    height: 18px;
  }
  .icon12 {
    width: 22px;
    height: 18px;
  }
}
